.load-hotels {
	margin: 100px 0;
	text-align: center;
}

.hotels-error {
	text-align: center;
	font-size: 2rem;
	color: @color-red;
}

.hotel {
	margin: 20px 0;
	border: 1px solid black;

	&__img-wrapper {
		padding: 0;
	}

	img {
		max-height: 480px;
		width: 100%;
	}

	&__stars {
		float: right;
		padding-right: 20px;

		.-full {
			color: @color-black;
		}

		.-empty {
			color: @color-grey;
		}
	}
}